# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'

steps:
  - task: DotNetCoreCLI@2
    displayName: 'dotnet restore'
    inputs:
      command: restore

  - task: DotNetCoreCLI@2
    displayName: 'dotnet build'
    inputs:
      projects: '$(solution)'
      configuration: 'Release'

  - task: DotNetCoreCLI@2
    displayName: 'dotnet test'
    inputs:
      command: test
      configuration: 'Release'
      projects: '**/CosmosDB.Gremlin.Fluent.Tests.csproj'
      arguments: /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura

  - task: PublishCodeCoverageResults@1
    displayName: 'publish coverage results'
    inputs:
      codeCoverageTool: 'cobertura'
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.cobertura.xml'

  - task: DotNetCoreCLI@2
    displayName: 'dotnet pack'
    inputs:
      command: pack
      configuration: 'Release'
      packagesToPack: '**/CosmosDB.Gremlin.Fluent.csproj'
      packDirectory: '$(Build.ArtifactStagingDirectory)/nupkg'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/nupkg'